:host {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table {
    width: 800px;
    margin-bottom: 25px;
    text-align: left;
    border: 1px solid #3e454c;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
        background-color: #3e454c;
        color: #FFF;
        

        th {
            padding: 5px;
            font-weight: 400;
            border: 1px solid #cdd3d6;
        }
    }

    tbody {
        background-color: #FFF;
        tr {
            td {
                border: 1px solid #cdd3d6;
                input {
                    outline: none;
                    width: 100%;
                    border-style: none;
                    background-color: inherit;
                    padding: 5px;

                    &.ng-dirty {
                        border: 2px solid darkcyan;
                    }
                    &.ng-invalid {
                        border: 2px solid red;
                    }
                }
            }
        }
    }
}